---
import Hero from "@components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Title from "@components/Title.astro";

const heroProps = {
    titulo: "Fototeca",
    img: "urubamba-plaza.webp",
    buttons: [],
};
const data = [
    {
        bigsection: "RECOPILACIÓN DE FOTOGRAFÍAS DEL CUSCO 2003 POR SECTORES",
        interns: [
            {
                seccion: "SG-01",
                items: [
                    {
                        titulo: "SG-01 9879 MZ. 85 Nº 1468-1392",
                        link: "http://catalogacion.cusco.gob.pe/assets/pdf/fototeca/cusco_2003/SECTORES_GESTION/SG-01%20NUCLEO%20DEL%20CH/SG-01%20%202003%20MZ.%2085%20N%C2%BA%201468-1392.pdf",
                    },
                    {
                        titulo: "SG-01 9879 MZ. 85 Nº 1468-1392",
                        link: "http://catalogacion.cusco.gob.pe/assets/pdf/fototeca/cusco_2003/SECTORES_GESTION/SG-01%20NUCLEO%20DEL%20CH/SG-01%20%202003%20MZ.%2085%20N%C2%BA%201468-1392.pdf",
                    },
                    {
                        titulo: "SG-01 9879 MZ. 85 Nº 1468-1392",
                        link: "http://catalogacion.cusco.gob.pe/assets/pdf/fototeca/cusco_2003/SECTORES_GESTION/SG-01%20NUCLEO%20DEL%20CH/SG-01%20%202003%20MZ.%2085%20N%C2%BA%201468-1392.pdf",
                    },
                ],
            },
            {
                seccion: "SG-02",
                items: [
                    {
                        titulo: "SG-02 9879 MZ. 85 Nº 1468-1392",
                        link: "http://catalogacion.cusco.gob.pe/assets/pdf/fototeca/cusco_2003/SECTORES_GESTION/SG-02%20NUCLEO%20DEL%20CH/SG-02%20%202003%20MZ.%2085%20N%C2%BA%202468-1392.pdf",
                    },
                    {
                        titulo: "SG-02 9879 MZ. 85 Nº 1468-1392",
                        link: "http://catalogacion.cusco.gob.pe/assets/pdf/fototeca/cusco_2003/SECTORES_GESTION/SG-02%20NUCLEO%20DEL%20CH/SG-02%20%202003%20MZ.%2085%20N%C2%BA%202468-1392.pdf",
                    },
                    {
                        titulo: "SG-02 9879 MZ. 85 Nº 1468-1392",
                        link: "http://catalogacion.cusco.gob.pe/assets/pdf/fototeca/cusco_2003/SECTORES_GESTION/SG-02%20NUCLEO%20DEL%20CH/SG-02%20%202003%20MZ.%2085%20N%C2%BA%201468-1392.pdf",
                    },
                ],
            },
        ],
    },
    {
        bigsection:
            "RECOPILACIÓN DE FOTOGRAFÍAS DEL CUSCO ANTIGUO DECADA 40 Y 50",
        interns: [
            {
                seccion: "SG-03",
                items: [
                    {
                        titulo: "SG-03 9879 MZ. 85 Nº 1468-1392",
                        link: "http://catalogacion.cusco.gob.pe/assets/pdf/fototeca/cusco_2003/SECTORES_GESTION/SG-03%20NUCLEO%20DEL%20CH/SG-03%20%202003%20MZ.%2085%20N%C2%BA%201468-1392.pdf",
                    },
                    {
                        titulo: "SG-03 9879 MZ. 85 Nº 1468-1392",
                        link: "http://catalogacion.cusco.gob.pe/assets/pdf/fototeca/cusco_2003/SECTORES_GESTION/SG-03%20NUCLEO%20DEL%20CH/SG-03%20%202003%20MZ.%2085%20N%C2%BA%201468-1392.pdf",
                    },
                    {
                        titulo: "SG-03 9879 MZ. 85 Nº 1468-1392",
                        link: "http://catalogacion.cusco.gob.pe/assets/pdf/fototeca/cusco_2003/SECTORES_GESTION/SG-03%20NUCLEO%20DEL%20CH/SG-03%20%202003%20MZ.%2085%20N%C2%BA%201468-1392.pdf",
                    },
                ],
            },
        ],
    },
    {
        bigsection:
            "RECOPILACIÓN DE FOTOGRAFÍAS DEL CUSCO 2003 - VISTAS GENERALES",
        interns: [
            {
                seccion: "SG-04",
                items: [
                    {
                        titulo: "ARCO PATA- SAN PEDRO-MELOC",
                        link: "http://catalogacion.cusco.gob.pe/assets/pdf/fototeca/cusco_2003/SECTORES_GESTION/SG-03%20NUCLEO%20DEL%20CH/SG-03%20%202003%20MZ.%2085%20N%C2%BA%201468-1392.pdf",
                    },
                    {
                        titulo: "AV. PATDO-TULLUMAYO - VIVA EL PERÚ",
                        link: "http://catalogacion.cusco.gob.pe/assets/pdf/fototeca/cusco_2003/SECTORES_GESTION/SG-03%20NUCLEO%20DEL%20CH/SG-03%20%202003%20MZ.%2085%20N%C2%BA%201468-1392.pdf",
                    },
                    {
                        titulo: "CHOQUECHACA-PUMACURCO -CARMEN ALTO",
                        link: "http://catalogacion.cusco.gob.pe/assets/pdf/fototeca/cusco_2003/SECTORES_GESTION/SG-03%20NUCLEO%20DEL%20CH/SG-03%20%202003%20MZ.%2085%20N%C2%BA%201468-1392.pdf",
                    },
                ],
            },
        ],
    },
];
---

<Layout title="Inmaterial">
    <main class="w-full mx-auto flex flex-col justify-center items-center">
        <Hero {...heroProps} />

        <!-- {
            data.map((section) => (
                <>
                    <Title titulo={section.bigsection} />

                    <div class="w-full mx-auto py-10 max-w-4xl mb-4 border-b border-gray-200 dark:border-gray-700 justify-center">
                        <div class="w-full mx-auto py-10 max-w-4xl mb-4 border-b border-gray-200 dark:border-gray-700 justify-center">
                            <ul
                                class="flex flex-wrap -mb-px text-sm font-medium text-center justify-center"
                                id="default-tab"
                                data-tabs-toggle="#default-tab-content"
                                role="tablist"
                            >
                                {section.interns.map((intern) => (
                                    <li class="me-2" role="presentation">
                                        <button
                                            class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                                            id={`${intern.seccion}-tab`}
                                            data-tabs-target={`#${intern.seccion}`}
                                            type="button"
                                            role="tab"
                                            aria-controls={intern.seccion}
                                            aria-selected="false"
                                        >
                                            {intern.seccion}
                                        </button>
                                    </li>
                                ))}
                            </ul>
                        </div>

                        <div id="default-tab-content" class="w-full">
                            {section.interns.map((intern) => (
                                <div
                                    class="hidden p-4 rounded-lg bg-gray-50/50 dark:bg-gray-800 w-full mx-auto py-10 max-w-4xl"
                                    id={intern.seccion}
                                    role="tabpanel"
                                    aria-labelledby={`${intern.seccion}-tab`}
                                >
                                    <div class="relative overflow-x-auto">
                                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                            <tbody>
                                                {intern.items.map((item) => (
                                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                                        <th
                                                            scope="row"
                                                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                                                        >
                                                            <a href={item.link}>
                                                                {item.titulo}
                                                            </a>
                                                        </th>
                                                    </tr>
                                                ))}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            ))}
                        </div>
                    </div>
                </>
            ))
        } -->
    </main>
</Layout>
