---
import Hero from "@components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Title from "@components/Title.astro";

const heroProps = {
    titulo: "Gerencia del Centro Histórico",
    descripcion:
        "Responsable de la gestión y conservación del Centro Histórico y de las Áreas Históricas de la ciudad del Cusco",
    img: "urubamba-plaza.webp",
    buttons: [],
};
const funciones = [
    {
        titulo: "Políticas municipales",
        descripcion:
            "Planificar, organizar, conducir y evaluar las políticas municipales en materia de conservación, organización del espacio físico y uso del suelo en el ámbito del Centro Histórico y Áreas Históricas.",
    },
    {
        titulo: "Plan Operativo",
        descripcion:
            "Desarrollar e implementar estrategias para la gestión eficiente del espacio público, promoviendo la participación ciudadana en la preservación del patrimonio.",
    },
    {
        titulo: "Memoria anual",
        descripcion:
            "Coordinar con otras entidades municipales y organizaciones no gubernamentales para la conservación del Centro Histórico y el desarrollo sostenible de las Áreas Históricas.",
    },
];
---

<Layout title="Inmaterial">
    <main class="w-full mx-auto flex flex-col justify-center items-center">
        <Hero {...heroProps} />
        <div class="w-full mx-auto py-10 max-w-4xl">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div
                    class="flex flex-col px-4 py-2 bg-stripes-purple rounded-lg justify-center items-center"
                >
                    <Title
                        titulo="NATURALEZA JURÍDICA"
                        descripcion={`La Gerencia de Centro Histórico, es un órgano de línea de segundo nivel organizacional, responsable de la gestión y conservación del Centro Histórico y de las Áreas Históricas de la ciudad del Cusco, así como la formulación e implementación de planes y proyectos específicos en función de las actividades productivas y sociales, de acuerdo a las políticas de desarrollo municipal, conservación del patrimonio cultural y natural, en armonía con las normas locales, nacionales e internacionales vigentes. <br></br>Está a cargo de un Gerente, quien depende jerárquicamente del Gerente Municipal.`}
                    />
                </div>
                <div
                    class="flex flex-col px-4 py-2 bg-stripes-purple rounded-lg justify-center items-center"
                >
                    <div class="profile-pic text-center mb-5">
                        <div
                            class="relative w-64 h-96 overflow-hidden rounded-3xl"
                        >
                            <img
                                src="artesanias.webp"
                                class="rounded-xl w-full h-full object-cover"
                                id="profile-image"
                                alt="Profile"
                            />
                        </div>
                        <div class="mt-4">
                            <h5 class="text-lg font-semibold">Jenny Jimenez</h5>
                            <p class="text-slate-400">jennyhot@hotmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full mx-auto py-10 max-w-4xl">
            <Title
                titulo="FUNCIONES DE LA GERENCIA"
                descripcion="Son funciones de la Gerencia de Centro Histórico, las siguientes:"
            />
            <div
                class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 max-w-screen-xl mx-auto mb-6"
            >
                {
                    funciones.map((funcion, index) => (
                        <div class="flex justify-center">
                            <div
                                class="w-full"
                                id={`accordion-flush-${index}`}
                                data-accordion="collapse"
                            >
                                <h2 id={`accordion-flush-heading-${index}`}>
                                    <button
                                        type="button"
                                        class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
                                        data-accordion-target={`#accordion-flush-body-${index}`}
                                        aria-expanded="false"
                                        aria-controls={`accordion-flush-body-${index}`}
                                    >
                                        <span>{funcion.titulo}</span>
                                        <svg
                                            data-accordion-icon
                                            class="w-3 h-3 rotate-180 shrink-0"
                                            aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 10 6"
                                        >
                                            <path
                                                stroke="currentColor"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M9 5 5 1 1 5"
                                            />
                                        </svg>
                                    </button>
                                </h2>
                                <div
                                    id={`accordion-flush-body-${index}`}
                                    class="hidden"
                                    aria-labelledby={`accordion-flush-heading-${index}`}
                                >
                                    <div class="py-5 border-t-gray-200 dark:border-t-gray-700 text-xs font-extralight text-gray-700">
                                        {funcion.descripcion}
                                    </div>
                                </div>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </main>
</Layout>
