---
import Hero from "@components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Title from "@components/Title.astro";
import LiteYoutube from "@components/LiteYoutube.astro";
import IconoSquare from "@iconos/IconoSquare.astro";

const heroProps = {
    titulo: "Area monumental de Urubamba - Inmaterial",
    img: "urubamba-1.webp",
    buttons: [],
};
const data = [
    {
        seccion: "Sectores de Gestión",

        items: [
            {
                icono: IconoSquare,
                color: "#FF5733",
                texto: "SG-01 - Núcleo de Centro Histórico",
            },
            {
                icono: IconoSquare,
                color: "#33FF57",
                texto: "SG-02 - San Cristóbal",
            },
            {
                icono: IconoSquare,
                color: "#3357FF",
                texto: "SG-03 - Santo Domingo y San Agustín",
            },
            {
                icono: IconoSquare,
                color: "#F1C40F",
                texto: "SG-04 - San Blas y Rimacpampa",
            },
            {
                icono: IconoSquare,
                color: "#8E44AD",
                texto: "SG-05 - Santa Ana",
            },
            {
                icono: IconoSquare,
                color: "#E67E22",
                texto: "SG-06 - San Pedro",
            },
            {
                icono: IconoSquare,
                color: "#1ABC9C",
                texto: "SG-07 - Pumacchupan, Av. Pardo y Tres Cruces",
            },
            {
                icono: IconoSquare,
                color: "#F39C12",
                texto: "SG-08 - Almudena, Belén y Santiago",
            },
            {
                icono: IconoSquare,
                color: "#2C3E50",
                texto: "SG-09 - Totorapaccha, Mesa Redonda y Teteqaqa",
            },
        ],
    },
];

const cardData = [
    {
        titulo: "1",
        contenido:
            "Debemos de ubicarnos en uno de los puntos de catalogación dentro de los 09 sectores de gestión inmueble que se desea consultar, para ello usted podrá incrementar el zoom de navegación del mapa, así como también deslizarlo a la izquierda y derecha.",
    },
    {
        titulo: "2",
        contenido: `Una vez que tenemos ubicado el punto que deseamos consultar, hacemos click sobre , el mismo que nos llevará a una ventana que habilitará el botón de "VER MÁS", hacemos click en el para visualizar la información.`,
    },
    {
        titulo: "3",
        contenido: `Una vez en la información del patrimonio inmaterial catalogado, podremos observar la información recabada a partir de entrevistas generadas en la catalogación, realizada en los 09 sectores del centro histórico del Cusco.`,
    },
];
---

<Layout title="Inmaterial">
    <main class="w-full mx-auto flex flex-col justify-center items-center">
        <Hero {...heroProps} />
        <!-- <Title
            titulo="Mapa interactivo del Patrimonio Inmaterial del Cusco"
            descripcion={`El siguiente mapa se crea con el fin de identificar y revalorar la identidad cultural de la población cusqueña, actividades u oficios que desempeñan las personas con conviven dentro del Centro Histórico del Cusco. Estas actividades u oficios en muchos casos fueron pasados de generación en generación dando valor cultural a nuestro patrimonio inmaterial. 
            <br>
            Es así que con la catalogación del Patrimonio Inmaterial del Centro Histórico del Cusco se crea el programa "HATUN QOSQO".`}
        /> -->
        <!-- <Title
            titulo="HATUN QOSQO"
            descripcion={`Programa creado para preservar y salvaguardar la Identidad Cultural de la población cusqueña, difundiendo al público en general nuestras expresiones y manifestaciones originales, en imágenes de oficios, gastronomía, festividades cívicas y religiosas, mitos, oralidad, entre otros, como elementos culturales de valoración patrimonial inmaterial de los nueve sectores para la gestión y participación vecinal del Centro Histórico del Cusco.`}
        /> -->
        <!-- <Title
            titulo="EL CENTRO DEL CUSCO"
            descripcion={`<b>Elaboración del Libro: “EL CENTRO DEL CUSCO”, Morada de historia y cultura viva.</b> Texto cuya intención es transportar a los lectores de la mano por la ciudad, contando y mostrando su patrimonio cultural material e inmaterial más significativos, aquellos que se delinearon a lo largo de los años, que cuentan historias del pasado y del presente, que hacen así mismo, vivir el presente y reconociendo el pasado. Texto que busca introducir a quienes lo lean, en un espacio geográfico cultural, que siempre vibró y vivió intensamente cada etapa de su historia, y que fue marcada por su gente en las plazas, calles y edificios en la memoria colectiva. Compila datos de muchos especialistas apasionados por el Cusco, en páginas en un intento de mostrarlas en una narrativa unida y de fácil acceso.`}
        />
        <div class="w-full mx-auto py-10 max-w-4xl">
            <LiteYoutube
                videoId="c7m_h_dNm3k"
                backgroundImage="https://img.youtube.com/vi/c7m_h_dNm3k/maxresdefault.jpg"
            />
        </div> -->
        <!-- <Title
            titulo="LEYENDA MAPA DE PATRIMONIO INMATERIAL"
            descripcion={` Punto de ubicación de la catalogación del patrimonio inmaterial del Centro Histórico del Cusco.`}
        /> -->
        <!-- <div class="w-full mx-auto py-10 max-w-4xl">
            <div
                class="columns-2 gap-2 font-mono text-white text-sm text-center font-bold leading-6 bg-stripes-purple rounded-lg"
            >
                {
                    data.map((section) => (
                        <div
                            class={`flex flex-col px-4 py-2 rounded-lg dark:text-purple-400`}
                        >
                            <span class="font-sans text-base text-UrubambaPrimaryColor font-semibold my-2 text-start">
                                {section.seccion}
                            </span>
                            {section.items.map((item) => (
                                <div class="flex gap-x-10 my-1">
                                    <div class="icono">
                                        <item.icono color={item.color} />
                                    </div>
                                    <div class="font-sans text-base font-normal text-UrubambaPrimaryColor">
                                        {item.texto}
                                    </div>
                                </div>
                            ))}
                        </div>
                    ))
                }
            </div>
        </div> -->
        <!-- <div class="w-full mx-auto py-10 max-w-4xl">
            <Title
                titulo="BUSQUEDA DE INFORMACIÓN PATRIMONIO INMATERIAL"
                descripcion={`El mapa de catalogación del patrimonio inmaterial del Centro Histórico del Cusco, nos brindará información sobre la identidad cultural de la población cusqueña, identificada en los 09 sectores de gestión, el mismo que se encontrará accesesible para el público en general. Para el uso del mapa interactivo adecuado, seguiremos los siguientes pasos:`}
            />
            <div class="grid grid-cols-12 gap-8 max-w-screen-xl mx-auto mb-4">
                {
                    cardData.map((card) => (
                        <div class="col-span-4 flex flex-col gap-2 justify-center items-center">
                            <div class="p-6 bg-gray-100 bg-opacity-90 rounded-lg w-full">
                                <span class="desc-number mb-4 border-4 border-solid border-[#222222] rounded-full text-[#222222] block font-bold text-2xl text-center leading-[45px] h-[50px] w-[50px]">
                                    {card.titulo}°
                                </span>
                                <p class="text-sm leading-6 text-gray-600">
                                    {card.contenido}
                                </p>
                            </div>
                        </div>
                    ))
                }
                <div class="h-[450px] w-full">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13006.301427211192!2d-71.974547051174!3d-13.52177170264635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1734326805644!5m2!1ses-419!2spe"
                        width="1200"
                        height="450"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div> -->
    </main>
</Layout>
