---
import Hero from "@components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Title from "@components/Title.astro";
import PdfViewerLibro from "@components/libro/PdfViewerLibro";
import LiteYoutube from "@components/LiteYoutube.astro";
import IconoSquare from "@iconos/IconoSquare.astro";

const heroProps = {
    titulo: "Patrimonio Inmaterial del Centro Histórico del Cusco",
    img: "https://via.placeholder.com/1400x720",
    buttons: [],
};
const data = [
    {
        seccion: "Sectores de Gestión",

        items: [
            { icono: IconoSquare, color: "#1e293b", texto: "asdh" },
            { icono: IconoSquare, color: "#1e293b", texto: "asdg" },
            { icono: IconoSquare, color: "#1e293b", texto: "asdds" },
            { icono: IconoSquare, color: "#1e293b", texto: "asdf" },
            { icono: IconoSquare, color: "#1e293b", texto: "asdw" },
            { icono: IconoSquare, color: "#1e293b", texto: "asdb" },
            { icono: IconoSquare, color: "#1e293b", texto: "asdv" },
            { icono: IconoSquare, color: "#1e293b", texto: "asdx" },
            { icono: IconoSquare, color: "#1e293b", texto: "asdg" },
        ],
    },
    {
        seccion: "Sectores de Gestión 3",

        items: [
            { icono: IconoSquare, color: "#1e293b", texto: "asddsagdsfad" },
            { icono: IconoSquare, color: "#1e293b", texto: "afasdf" },
            { icono: IconoSquare, color: "#1e293b", texto: "afasdf" },
            { icono: IconoSquare, color: "#1e293b", texto: "afasdf" },
            { icono: IconoSquare, color: "#1e293b", texto: "afasdf" },
            { icono: IconoSquare, color: "#1e293b", texto: "afasdf" },
            { icono: IconoSquare, color: "#1e293b", texto: "afasdf" },
            { icono: IconoSquare, color: "#1e293b", texto: "afasdasfdsadf" },
        ],
    },
];

const cardData = [
    {
        titulo: "1",
        contenido:
            "Metus potenti velit sollicitudin porttitor magnis elit lacinia tempor varius, ut cras orci vitae parturient id nisi vulputate consectetur, primis venenatis cursus tristique malesuada viverra congue risus.",
    },
    {
        titulo: "2",
        contenido:
            "Metus potenti velit sollicitudin porttitor magnis elit lacinia tempor varius, ut cras orci vitae parturient id nisi vulputate consectetur, primis venenatis cursus tristique malesuada viverra congue risus.",
    },
    {
        titulo: "3",
        contenido:
            "Metus potenti velit sollicitudin porttitor magnis elit lacinia tempor varius, ut cras orci vitae parturient id nisi vulputate consectetur, primis venenatis cursus tristique malesuada viverra congue risus.",
    },
];
---

<Layout title="Inmaterial">
    <main class="w-full mx-auto flex flex-col justify-center items-center">
        <Hero {...heroProps} />
        <Title
            titulo="Mapa interactivo del Patrimonio Inmaterial del Cusco"
            descripcion={`El siguiente mapa se crea con el fin de identificar y revalorar la identidad cultural de la población cusqueña, actividades u oficios que desempeñan las personas con conviven dentro del Centro Histórico del Cusco. Estas actividades u oficios en muchos casos fueron pasados de generación en generación dando valor cultural a nuestro patrimonio inmaterial. 
            <br>
            Es así que con la catalogación del Patrimonio Inmaterial del Centro Histórico del Cusco se crea el programa "HATUN QOSQO".`}
        />
        <Title
            titulo="HATUN QOSQO"
            descripcion={`Programa creado para preservar y salvaguardar la Identidad Cultural de la población cusqueña, difundiendo al público en general nuestras expresiones y manifestaciones originales, en imágenes de oficios, gastronomía, festividades cívicas y religiosas, mitos, oralidad, entre otros, como elementos culturales de valoración patrimonial inmaterial de los nueve sectores para la gestión y participación vecinal del Centro Histórico del Cusco.`}
        />
        <Title
            titulo="EL CENTRO DEL CUSCO"
            descripcion={`<b>Elaboración del Libro: “EL CENTRO DEL CUSCO”, Morada de historia y cultura viva.</b> Texto cuya intención es transportar a los lectores de la mano por la ciudad, contando y mostrando su patrimonio cultural material e inmaterial más significativos, aquellos que se delinearon a lo largo de los años, que cuentan historias del pasado y del presente, que hacen así mismo, vivir el presente y reconociendo el pasado. Texto que busca introducir a quienes lo lean, en un espacio geográfico cultural, que siempre vibró y vivió intensamente cada etapa de su historia, y que fue marcada por su gente en las plazas, calles y edificios en la memoria colectiva. Compila datos de muchos especialistas apasionados por el Cusco, en páginas en un intento de mostrarlas en una narrativa unida y de fácil acceso.`}
        />
        <div class="w-full mx-auto py-10 max-w-4xl">
            <LiteYoutube
                videoId="uzNgtK0X_78"
                backgroundImage="https://via.placeholder.com/1400x720"
            />
        </div>
        <Title
            titulo="LEYENDA MAPA DE PATRIMONIO INMATERIAL"
            descripcion={` Punto de ubicación de la catalogación del patrimonio inmaterial del Centro Histórico del Cusco.`}
        />
        <div class="w-full mx-auto py-10 max-w-4xl">
            <div
                class="columns-2 gap-2 font-mono text-white text-sm text-center font-bold leading-6 bg-stripes-purple rounded-lg"
            >
                {
                    data.map((section) => (
                        <div
                            class={`flex flex-col px-4 py-2 rounded-lg dark:text-purple-400`}
                        >
                            <span class="font-sans text-base text-UrubambaPrimaryColor font-semibold my-2 text-start">
                                {section.seccion}
                            </span>
                            {section.items.map((item) => (
                                <div class="flex gap-x-10 my-1">
                                    <div class="icono">
                                        <item.icono color={item.color} />
                                    </div>
                                    <div class="font-sans text-base font-normal text-UrubambaPrimaryColor">
                                        {item.texto}
                                    </div>
                                </div>
                            ))}
                        </div>
                    ))
                }
            </div>
        </div>
        <div class="w-full mx-auto py-10 max-w-4xl">
            <Title
                titulo="BUSQUEDA DE INFORMACIÓN PATRIMONIO INMATERIAL"
                descripcion={`El mapa de catalogación del patrimonio inmaterial del Centro Histórico del Cusco, nos brindará información sobre la identidad cultural de la población cusqueña, identificada en los 09 sectores de gestión, el mismo que se encontrará accesesible para el público en general. Para el uso del mapa interactivo adecuado, seguiremos los siguientes pasos:`}
            />
            <div class="grid grid-cols-12 gap-8 max-w-screen-xl mx-auto mb-4">
                {
                    cardData.map((card) => (
                        <div class="col-span-4 flex flex-col gap-2 justify-center items-center">
                            <div class="p-6 bg-gray-100 bg-opacity-90 rounded-lg w-full">
                                <span class="desc-number mb-4 border-4 border-solid border-[#222222] rounded-full text-[#222222] block font-bold text-2xl text-center leading-[45px] h-[50px] w-[50px]">
                                    {card.titulo}°
                                </span>
                                <p class="text-base leading-6 text-gray-600">
                                    {card.contenido}
                                </p>
                            </div>
                        </div>
                    ))
                }
                <div class="h-[450px] w-full">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13006.301427211192!2d-71.974547051174!3d-13.52177170264635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1734326805644!5m2!1ses-419!2spe"
                        width="1200"
                        height="450"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </main>
</Layout>
